/*
///////////////
GENERAL
//////////////
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-family: Helvetica;
}

h1,h2,h3,p{
    color: #24292e;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h2, h3{
    font-family: 'Roboto Mono', monospace;
}

h3{
    text-transform: uppercase;
}

a{
    color: #0074c4;
    text-decoration: none;
}

a:hover{
    color: #0098ff;
    text-decoration: underline;
}


.contenedor {
    background-color: #fafafa;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

/*
/////////////
NAV
////////////
*/
.diario{
    font-size: 2em;
    padding: 10px;
}

.lista{
    list-style: none;
    /*  display: flex; */
}

/* CAMBIAR ESTO */
.lista li{
    display: inline;
}

.item-lista{
    padding:10px;
    text-decoration: none;
    
}

.item-lista:hover{
    color: #2c59a3;    
}

/*
///////////////
SECCIONES
//////////////
*/

.titular{
    font-size: 2.25em;
}

.segundo-titular{
    font-size: 1.75em;
    margin-top: 15px;
}

.tercer-titular{
    font-size: 1.4em;
    margin-top: 15px;
}

.redactores{
    margin-top: 25px;
}

/*
////////////
MAIN
///////////
*/
.principal{
    float: left;
    width: 70%;
    padding: 10px 10px;
}

.parrafos{
    line-height: 40px;
}

.foto-principal{
    margin-bottom: 15px;
}
/*
////////////
ASIDE
///////////
*/
.recomendaciones, .publicidad{
    float: right;
    width: 30%;
}

.publicidad{
    margin-top: 15px;
    margin-bottom: 30px;
}

.publicidad-titular{
    padding: 10px;
    font-size: 1.5em;
    float: right;
    position: absolute;
    margin-top: -180px;
    opacity: 0;
}

.publicidad-titular:hover{
    opacity: 1;
}

/*
/////////////////
 FOOTER 
/////////////////
*/

.divisor{
    margin-top: 45px;
    border: 0.5 solid #808080;
    width: 80%;
    opacity: 0.3;
}

.autores{
    text-decoration: none;
}

.derechos{
    text-align: center;
}